body{
     background-color: rgba(210,210,210,1);
}

header{
    background-color:rgba(240, 240, 240, 1);
    border-radius: 10px;
}
#bangali_food{
    padding-left: 120px;
}
#top{
    display: inline;
}

a{
  text-decoration: none;
  color: #000000;
  height: 50px;
  padding-right: 125px;
  display: inline-block;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

a:hover{
     transform: scale(1.1); 
     text-shadow: 0 10px 20px rgba(0, 0, 0, 1);
     z-index: 2;
}

#search{
    background-color: brown;
    color: white;
    width: 160px;
    height: 30px;
}

input{
    width: 300px;
    height: 20px;
    text-align: center;
    background-color: white;
}

[class^="r"]{
      display: flex;
  justify-content: center;               /* center horizontally */
  gap: 20px;                             /* space between boxes */
  margin: 20px 0;                        /* space between rows */
}

iframe{
    width: 400px;
    height: 225px;
    border-radius: 10px;
}
[class^="v"]{                            /* grat shortcut*/
    background-color: azure;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

p{
    text-align: center;
}

.button{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.407);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.a{
    display: flex;
    justify-content: center;
    padding-right: 0%;
    text-align: center;
}

footer{
    
    display: flex;
    justify-content: center;
}
#search-btn{
    border-radius: 30px;
    border-color: rgba(0, 0, 0, 0.407);
    background-color: rgba(255, 255, 255, 0.725);
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#search-input {
  width: 0;
  opacity: 0;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: width 0.3s ease, opacity 0.3s ease;
}

#search-input.active {
  width: 200px;
  opacity: 1;
}

.b1{
    padding-right: 20px;
}